<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>{{ shop.name }} &mdash; {{ page_title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="15oFdvrflvebfmUSOgcZ0xjoubuok4zbOyL9-V9ScCM" />

{{ 'stylesheet.css' | asset_url | stylesheet_tag }}

<!-- Additional colour schemes for this theme. If you want to use them, just replace the above line with one of these
{{ 'caramel.css' | asset_url | stylesheet_tag }}
{{ 'sea.css' | asset_url | stylesheet_tag }}
-->

{{ 'mootools.js'        | global_asset_url  | script_tag }}
{{ 'slimbox.js'         | global_asset_url  | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}

{{ 'jquery-1.6.min.js' | asset_url  | script_tag }}
{{ 'jquery.cycle.lite.js' | asset_url  | script_tag }}
{{ 'application.js' | asset_url  | script_tag }}

{{ content_for_header }}
</head>

<body id="page-{{ template }}">
<div id="content">

<div id="header">
	<div class="container">
		<div id="logo">
{% if settings.use_logo_image %}
      <a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" /></a>
{% else %}
<h1><a href="/" title="{{ shop.name }}">{{ shop.name }}</a></h1>
{% endif %}
		</div>
		<div id="navigation">
			<ul id="navigate">
				<li><a href="/cart">View Cart</a></li>
			  {% for link in linklists.main-menu.links reversed %}
				  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

<div id="mini-header">
	<div class="container">
    {% if cart.item_count > 0 %}
      <div id="shopping-cart">
        <a href="/cart">Your shopping cart contains {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}</a>
      </div>
    {% endif %}
		<div id="search-box">
			<form action="/search" method="get">
				<input type="text" name="q" id="q" />
				<input type="image" src="{{ 'seek.png' | asset_url }}" value="Seek" onclick="this.parentNode.submit(); return false;" id="seek" />
			</form>
		</div>
	</div>
</div>

<div id="layout">
  <div class="container">




<div id="layout-sidemenu">
  {% if template != "product" %} {% if template != "cart" %}
    <h3>Products</h3>
    <ul id="product_categories">
      {% for link in linklists.products.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>

{% if template == "index" %}
    <div id="side-bulletin">
      Free Shipping
    </div>
{% endif %}

    {% if template != "index" %}
    {% if blogs.news.articles.size > 0 %}
      <a href="{{ shop.url }}/blogs/news.xml"><img src="{{ 'feed.png' | asset_url }}" alt="Subscribe" class="feed" /></a>
      <h3><a href="/blogs/news">More news</a></h3>
      <ul id="blogs">
        {% for article in blogs.news.articles limit: 6 %}
          <li><a href="{{ article.url }}">{{ article.title | strip_html | truncate: 30 }}</a><br /><small>{{ article.content | strip_html | truncatewords: 12 }}</small></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %} {% endif %} {% endif %}

   {% if template == "index" %}



<div id="category-picture-links" class="center">

  <div class="category-picture-link">
    <a href="http://ubonin.myshopify.com/collections/bracelets"> 
      <img height="90" width="90" src={{ 'featured_bracelet.jpg' | asset_url }} /> 
      <p class="caption">Bracelets</p>
    </a>
  </div>
  <div class="category-picture-link">
    <a href="http://ubonin.myshopify.com/collections/necklaces">
      <img height="90" width="90" src={{ 'featured_necklace.jpg' | asset_url }} />
      <p class="caption">Necklaces</p>
    </a>
  </div>
  <div class="category-picture-link">
    <a href="http://ubonin.myshopify.com/collections/earrings">
      <img height="90" width="90" src={{ 'featured_earrings.jpg' | asset_url }} />
      <p class="caption">Earrings</p>
    </a>
  </div>
  <div class="category-picture-link">
    <a href="http://ubonin.myshopify.com/collections/hair-accessories">
      <img height="90" width="90" src={{ 'featured_hair_accessories.jpg' | asset_url }} />
      <p class="caption">Hair Accessories</p>
    </a>
  </div>
</div>



   {% endif %}
</div>




		<div id="layout-body" {% if template != "cart" %}{% if template != "product" %}style="width:619px"{% endif %}{% endif %}>{% if template == "search" %}
			<h1>Search Results</h1>{% endif %}
			{{ content_for_layout }}
		</div>{% if template != "cart" %}{% if template != "product" %}{% endif %}{% endif %}
	</div>
</div>

<div id="footer">
	<div id="footer-fader">
		<div class="container">
			<div id="footer-right">{% for link in linklists.footer.links %}
				{{ link.title | link_to: link.url }} {% unless forloop.last %}&#124;{% endunless %}{% endfor %}
			</div>
			<span id="footer-left">
                                <p>Are you a retailer interested in selling our jewelry? Please <a href="/pages/contact-ubonin">contact us</a> for more information.</p>
				Copyright &copy; {{ "now" | date: "%Y" }} <a href="/">{{ shop.name }}</a>. All Rights Reserved. All prices {{ shop.currency }}.<br />

                                
			</span>
		</div>
	</div>
</div>
	</div>
</body>
</html>
