<a href="http://ubonin.myshopify.com/collections/all-products">

<div id="slideshow">
    <img class="center first" height="495" width="660" src={{ 'ubonin_main.jpg' | asset_url }} />
    <img class="center" height="495" width="660" src={{ 'Fall2011.jpg' | asset_url }} />
</div>

</a>

    <div class="article" id="latest-blog">
      <h3 class="article-head-title">
        <a href="{{blogs.news.articles.first.url}}">{{ blogs.news.articles.first.title }}</a>
      </h3>
   
      <p>
      {% if blog.comments_enabled? %} 
        <a href="{{blogs.news.articles.first.url}}#comments">{{ blogs.news.articles.first.comments_count }} comments</a>
        &mdash; 
      {% endif %} 
      posted {{ blogs.news.articles.first.created_at | date: "%Y %h" }} by {{ blogs.news.articles.first.author }}</p>
      <div class="article-body textile">
        {{ blogs.news.articles.first.content }} 
      </div>   
    </div>

<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery('#slideshow').cycle({timeout: 5000});
});
</script>
