<img class="center" src={{ 'front_picture_oct_10.gif' | asset_url }} /> 

    <div class="article" id="latest-blog">
      <h3 class="article-head-title">
        <a href="{{blogs.news.articles.first.url}}">{{ blogs.news.articles.first.title }}</a>
      </h3>
   
      <p>
      {% if blog.comments_enabled? %} 
        <a href="{{blogs.news.articles.first.url}}#comments">{{ blogs.news.articles.first.comments_count }} comments</a>
        &mdash; 
      {% endif %} 
      posted {{ blogs.news.articles.first.created_at | date: "%Y %h" }} by {{ blogs.news.articles.first.author }}</p>
      <div class="article-body textile">
        {{ blogs.news.articles.first.content }} 
      </div>   
    </div>
